<div class="row">
    <div class="col-12 col-md-4">
        {{ form_row(form.ratio) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.sourceCurrency) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.targetCurrency) }}
    </div>
</div>


