<a href="{{ path('app_home') }}" class="navbar-brand logo py-0 pr-3">
    <img src="{{ vich_uploader_asset(config.settings, 'file') }}" alt="Logo" class="img-fluid py-0  d-none d-lg-inline-block"/>
    <img src="{{ asset('assets/img/logo/logo_icon_write.png') }}" alt="Logo" class="img-fluid py-0 mobile d-inline-block d-lg-none"/>
</a>

