<div class="card mb-5 gift">
    <div class="card-body text-center p-2">
        <p class="text-dark font-weight-stone-500">Invitez vos amis et gagnez du credit.</p>

        <a href="{{ path('app_parrainage_index') }}" class="btn btn-default btn-md mt-2 z-depth-0">
            <i class="fas fa-gift mr-1"></i> Inviter
        </a>
    </div>
</div>
