<div class="jumbotron card badge-primary py-lg-4 py-3 px-2 px-lg-4">
    <div class="text-white text-center py-0 px-lg-2 px-0">
        <div>
            <h3 class="h3-responsive card-title h1-responsive font-bold">
                <strong>Tirez pleinement parti de {{ config.name|capitalize }} comme membre inscrit.</strong>
            </h3>
            <p class="mx-md-2 mb-3">
                Obtenir les bons résultats de recherche, trouver ce que vous cherchez plus rapidement et bien plus !
            </p>
            <a href="{{ path('app_login') }}" class="btn btn-white font-weight-stone-500 z-depth-0">Se connecter</a>
        </div>
    </div>
</div>