<div id="advert-image" class="form-row mb-4">
    <div class="col-12">
        <div class="text-dark font-weight-bold mb-3">Ajoutez des photos pour rendre votre annonce encore plus visible.</div>
    </div>
    <div class="col-12">
        <div id="img-upload-drop" class="row img-upload-drop">
            <div class="col-12">
                <div class="content text-center">
                    <label id="img-upload-drop-label" class="dm-uploader d-block">
                        <div class="text-right">
                            <div id="no-image" class="text-primary small font-weight-stone-600 no-image">
                                <i class="far fa-question-circle"></i> Pas de photos sous la main
                            </div>
                        </div>
                        <button type="button" id="btn-photos" class="btn btn-primary btn-md z-depth-0 mt-2 px-2 px-md-4 btn-photos">
                            <i class="fas fa-camera-retro mr-md-2 mr-1"></i> Télécharger des photos
                        </button>
                        <h5 class="h5-responsive mt-3 text-dark">ou Glisser directement vos photos ici</h5>
                        <input type="file" accept="image/*" title="Cliquer pour ajouter des images" multiple class="d-none input-photo">
                    </label>
                </div>
            </div>
        </div>
        <div id="img-upload-list" class="row img-upload-list mt-1"></div>
    </div>
</div>


