<div class="form-row location-field">
    <div class="col-12">
        <h6 class="font-weight-bold text-dark location-title">Lieu</h6>
    </div>
    <div class="col-12 col-md-6">
        {{ form_widget(form.city) }}
    </div>
</div>