<div class="form-row price-field mb-2">
    <div class="col-12">
        <h6 class="font-weight-bold text-dark price-title">Budget</h6>
    </div>
    <div class="col-12 d-flex align-items-center">
        {{ form_row(form.price.min_price) }}
        <span class="text-muted"> - </span>
        {{ form_row(form.price.max_price) }}
    </div>
</div>
