<section class="mb-5">
    <div class="py-4 text-center text-dark">
        <div class="mb-4">
            <i class="fas fa-search fa-2x"></i>
        </div>
        <div class="mb-4">
            <h2 class="h2-responsive font-weight-bold">Aucun résultat</h2>
        </div>
    </div>
</section>
