{% extends 'user/layout.html.twig' %}

{% block title 'Fermeture du compte' %}

{% block meta %}
    <meta name="google" content="nositelinkssearchbox">
{% endblock %}

{% block app_flashes %}{% endblock %}

{% block app_body %}
    <section class="container mb-4 my-lg-4 mt-2 d-lg-flex justify-content-lg-between align-items-center">
        <h3 class="h3-responsive font-weight-stone-600 text-dark">Fermer mon compte</h3>
        <div>
            <div class="btn-group title" role="group">
                <a href="{{ path('app_user_profil_edit') }}"
                   class="btn btn-sm btn-grey waves-effect z-depth-0 px-3 px-lg-4">
                    <span class="d-none d-md-inline">Modifier le profil</span>
                    <span class="d-inline d-md-none">Modifier</span>
                </a>
                <a href="{{ path('app_user_change_password') }}"
                   class="btn btn-sm btn-grey waves-effect z-depth-0 px-3 px-lg-4">
                    <span class="d-none d-md-inline">Modifier le mot de passe</span>
                    <span class="d-inline d-md-none">Mot de passe</span>
                </a>
                <a href="{{ path('app_user_delete') }}"
                   class="btn btn-sm btn-dark waves-effect z-depth-0 px-3 px-lg-4">
                    <span class="d-none d-md-inline">Fermeture du compte</span>
                    <span class="d-inline d-md-none">Fermeture</span>
                </a>
            </div>
        </div>
    </section>

    {{ include('user/account/delete_content.html.twig') }}
{% endblock %}

