<section class="container">
    {{ include('ui/_flashes_message.html.twig') }}
</section>
<section class="container alert-list mb-5">
    {% if alerts|length > 0 %}
        <div class="row">
            {% for alert in alerts %}
                <div class="col-12 col-md-6 col-lg-4">
                    {{ include('user/alert/_box.html.twig') }}
                </div>
            {% endfor %}
            <div class="col-12 d-flex justify-content-center mt-2">
                {{ knp_pagination_render(alerts, 'ui/_pagination.html.twig') }}
            </div>
        </div>
    {% else %}
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-12 col-md-8 text-center mt-5 mt-md-5">
                <h4 class="h4-responsive font-weight-bold text-dark">
                    Vous n'avez aucune alerte inactive.
                </h4>
            </div>
        </div>
    {% endif %}
</section>