<div class="modal fade" id="navbar-currency-menu-modal" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
    <div class="modal-dialog modal-mobile" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="heading font-weight-stone-600 text-dark">Sélectionnez votre devise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body py-0">
                 {% if currencies|length > 0 %}
                    <ul class="list-group list-group-flush">
                        {% for code in currencies %}
                            <li class="list-group-item">
                                <a href="{{ path('app_switch_currency', {'code': code}) }}"
                                   {% if code is same as(active) %}class="active"{% endif %}>
                                    <span class="d-flex justify-content-between">
                                        <span>{{ code }} - {{ code|currency_name|capitalize|country_name }}</span>
                                        {% if code is same as(active) %}<i class="fas fa-check"></i>{% endif %}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

