{% extends 'user/layout.html.twig' %}

{% block title 'Mes factures' %}

{% block meta %}
    <meta name="google" content="nositelinkssearchbox">
{% endblock %}

{% block app_body %}
    <section class="container my-lg-4 mt-2 d-flex justify-content-between align-items-center">
        <h3 class="h3-responsive font-weight-stone-600 text-dark">Mes factures</h3>
    </section>

    {{ include('user/invoice/index/content.html.twig') }}
{% endblock %}

