<section class="container-fluid mt-lg-4 mb-lg-5 mb-2">
    <h2 class="h2-responsive font-weight-bold text-center mb-3 text-dark">
        Trouvez la bonne affaire parmi des milliers de <span class="text-primary">petites annonces gratuites</span>.
    </h2>
    <div class="text-center mb-4 d-none d-md-block">
        <a href="{{ path('app_switch_category') }}" class="btn btn-lg btn-primary font-weight-stone-500 z-depth-0">
            Déposer une annonce gratuite <i class="fas fa-sign-in-alt ml-2"></i>
        </a>
    </div>
    <div class="text-center mb-4 d-block d-md-none">
        <a href="{{ path('app_switch_category') }}" class="btn btn-primary font-weight-stone-500 z-depth-0">
            Déposer une annonce gratuite <i class="fas fa-sign-in-alt ml-2"></i>
        </a>
    </div>
</section>

